.palhetaCores1 { color: #d16630; }

.palhetaCores2 { color: #235c44; }

.palhetaCores3 { color: #6d2975; }

.palhetaCores4 { color: #750d10; }

* {
  margin: 0;
}

body {
  background-color: #d16630;
  font-family: Verdana, sans-serif;
}

#title {
  font-size: 40pt;
  text-shadow: 2px 2px 5px #235c44;
  text-align: center;
  color: white;
  margin: 20px;
}

#color-palette {
  text-align: center;
}

.color {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#pixel-board {
  margin-top: 20px;
  text-align: center;
}

.colum-pixel {
  margin: -4px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.container-buttons {
  margin: 10px;
  text-align: center;
}

.buttons {
  margin: auto 5px;
  padding: 5px;
  font-size: large;
}
